.divicard-wrapper {
    display: block;
    position: relative;
    height: 334px;
    width: 220px;
    text-align: center;
    font-family: "Fontin-SmallCaps", Verdana, Arial, Helvetica, sans-serif;
  }
  
  .divicard-art {
    display: block;
    position: absolute;
    top: 26px;
    left: 13px;
    background-color: #000;
  }
  
  .divicard-frame {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .divicard-header {
    display: block;
    position: absolute;
    top: 6px;
    left: -4px;
    width: 100%;
    font-size: 10px;
    line-height: 22px;
    color: #030301;
  }
  
  .divicard-stack {
    display: block;
    position: absolute;
    top: 153px;
    left: 21px;
    width: 35px;
    font-size: 10px;
    line-height: 22px;
    color: #fff;
  }
  
  .divicard-reward {
    display: table;
    position: absolute;
    top: 167px;
    left: 17px;
    font-size: 10px;
  }
  
  .divicard-reward > span {
    display: table-cell;
    vertical-align: middle;
    width: 187px;
    height: 55px;
  }
  
  .divicard-flavour {
    display: table;
    position: absolute;
    top: 226px;
    left: 17px;
    font-size: 10px;
  }
  
  .divicard-flavour > span {
    display: table-cell;
    vertical-align: middle;
    width: 187px;
    height: 92px;
  }
  
  .text-color.-flavour,
  .tc.-flavour {
    color: #af6025;
    font-style: italic;
  }
  
  .itemclass-00 {
    color: #aa9e82;
  }
  
  .itemclass-3 {
    color: rgb(175, 96, 37);
  }
  
  .itemclass-4 {
    color: #178d87;
  }
  
  .itemclass-6 {
    color: #b1e7e4;
  }
  
  .itemclass-8 {
    color: #fff;
  }
  
  .text-color.-corrupted {
    color: #d20000;
  }