/* .table {
    width: 50%;
  margin-left: auto;
  margin-right: auto;
} */

/* .span,
.link span {
  transition: all 0.4s;
} */

@font-face {
  font-family: Montserrat-Regular;
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('/fonts/Montserrat-Medium.ttf');
}

.link span {
  color: cornflowerblue;
}

.span:hover span,
.link:hover span {
  color: white;
  transition: all 0.1s;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

/* .limiter {
    width: 100%;
    margin: 0 auto;
} */

/* .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #d1d1d1;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
} */

/* .wrap-table100 {
    width: 1300px;
} */

/*//////////////////////////////////////////////////////////////////
  [ Table ]*/
/* table {
    width: 100%;
    background-color: #fff;
} */

.table100.ver1 .row100 td:hover,
.table100.ver1 .hov-column-ver1,
.table100.ver1 .row100:hover,
.table100.ver1 .hov-column-head-ver1,
.row100,
.column100 {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

/* .table100 th,
.table100 td {
  font-weight: unset;
  padding-right: 10px;
} */

/* td:hover {
  cursor: pointer;
} */

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100 a {
  color: cornflowerblue;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}


/*==================================================================
[ Ver1 ]*/
.table100.ver1 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
  background-color: #fff;
}

.table100.ver1 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #36304a;
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848 !important;
}

.table100.ver1 .row100 td:hover {
  background-color: #6c7ae0;
  color: #fff;
}